.main-img {
  position: relative;                                                            
  height: 90vh;
}

.main-img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);                                                                 
  z-index: 1;
}

.main-img img {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 80vh;
}

.main-content{
  position: absolute;
  top: 40%;
  left:26%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  color: #705555;
  z-index: 2;
  text-align: left;
}
.main-content .title {
  font-size: 3rem;
}
.main-content .content {
  font-size: 1.5rem;
  width: 500px;
}

.app-bar {
  background-color: #0a0a0a;
}
